<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    <%- include('./navbar-template'); %>
    <h1>Successful login</h1>
    <h2><%= user.local.email %></h2>
    <h2><%= user.google.email %></h2>
    <ul>
            <% posts.forEach(function(post){ %>
              <%= post.title %> <br>
              <%= post.description %> <br>
              <%= post.email %><br><br>
            <% }); %> 
    </ul>

    <h2>Create an  AdPost</h2>
    <div class="container">
        <form action="/profile" method="POST">
        <input class="form-control" type="text" name="title" placeholder="Title" required>
        <input class="form-control" type="text" name="description" placeholder="Description" required>
        <input type="submit" class="btn btn-submit" value="Post Ad">
        </form>
    </div>
</body>
</html>